<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>If-None-Match</key>
	<string>12027e-52bc4-309ff380</string>
	<key>If-Modified-Since</key>
	<string>Tue, 12 Jun 2012 17:56:46 GMT</string>
</dict>
</plist>
